/* Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
/* Layout Colors */
    --standardGreen: #038145;
    

/* Font Colors */
    --whiteFont: #FFFFFF;
    --lightGreenFont: #8DC53E;
    --greyFont: #666666; 
    --greenOpacityLight: rgba(4, 129, 69, 0.6);

  }


/* Global parameters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
}
 
  
/* Header properties */
.headerNavBar{
    background-color: var(--standardGreen);
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0.5rem;
    position: fixed;
    width: 100%;
}
.headerNavBar ul{
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--whiteFont);
    font-size: 1.1rem;
    margin: 0;
    line-height: 25px;
    padding: 0;
}
.headerNavBar li{
    margin: 0 1.5rem;
    font-weight: 700;
    display: flex;
}
.headerNavBar a{
    color: var(--whiteFont);
    text-decoration: none;
}
.headerNavBar a:hover{
    color: var(--lightGreenFont);
}

.headerNavBar li:first-child {
    margin-left: 0;
}

/* Main div style */

/* Sections styles */
.firstSection{
    background-image: url(../assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.secondSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.thirdSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Content Styles */

/* First Section */
#bannerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bannerContent h1{
    margin-bottom: 1rem;
    color: var(--whiteFont);
    font-size: 2.5rem;
}
#bannerContent h1 strong{
    color: var(--lightGreenFont);
}
#bannerContent span{
    font-size: 1.8125rem;
    color: var(--whiteFont);
}

/* A ASTRAL */

.sectionLeft {
    padding-top: 3rem;
    padding-left: 5rem;
}


.sectionRight {
    padding-left: 3rem;
}

.secondSectionTitle {
    display: flex;
    padding-top: 4rem;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--standardGreen);
    font-size: 1.2rem;

}

.thirdSectionTitle{
    display: flex;
    padding-top: 4rem;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--greyFont);
    font-size: 1.2rem;  
}

.sectionContent {
    color: var(--greyFont);
    padding: 1rem; 
    width: 95%;
}

.sectionContent p {
    margin: 0.5rem 1rem;
}

.sectionContent p b {
    color: var(--standardGreen);
}

.sectionContent p mark {
    background-color: var(--greenOpacityLight);
    color: var(--whiteFont);
}

#noPadding {
    padding: 0;
}
/* Button styles */
#btnOrcamento{
    margin-top: 2rem;
}
#btnOrcamento a{
    display: inline-block;
    gap: 0.5rem;
    color: var(--whiteFont);
    font-weight: 700;
    background-color: var(--standardGreen) ;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    border: 2px solid #038145;
    -webkit-box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    -moz-box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    transition: background-color 1s linear;
}
#btnOrcamento a:hover{
    background-color: white;
    transition: background-color 1s linear;
  
}

#btnOrcamento span{
    font-size: 1.5rem;
    transition: color 1s
}

#btnOrcamento a:hover span{
    color: var(--standardGreen);
    transition: background-color 1s linear;
}

@keyframes changeBtnOrcamentoImgGreen {
    0% {
      opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100% {
      opacity: 1;
      content: url("../assets/images/wpp-icon-green.png")
    }
  }

#btnOrcamento a:hover img{
    animation: changeBtnOrcamentoImgGreen 0.5s linear forwards;
}

.btnFranchise a{
    color: var(--whiteFont);
    display: inline-block;
    margin: 1rem 2rem;
    font-weight: 700;
    background-color: #059152;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    border: 2px solid #059152;
    -webkit-box-shadow: 8px -8px 2px 0px  rgba(141, 197, 62, 0.6);
    -moz-box-shadow: 8px -8px 2px 0px  rgba(141, 197, 62, 0.6);
    box-shadow: 8px -8px 2px 1px  rgba(141, 197, 62, 0.6);
    transition: background-color 1s linear;

    
}


.btnFranchise a:hover {
    background: var(--whiteFont);
    color: #059152;
    transition: background-color 1s linear;

}






