/* Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
/* Layout Colors */
    --standardGreen: #038145;
    --backgroundGreenMobile: #059152;
    --darkGreen: #02331D;
    

/* Font Colors */
--whiteFont: #FFFFFF;
--lightGreenFont: #8DC53E;
--greyFont: #666666; 
--greenOpacityLight: rgba(4, 129, 69, 0.6);

}








/* Global parameters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
}
 
ul {
    list-style: none;
}
  
hr{
    display: none;
}
.mobileOnly{
    display:none;
}
.displayNone{
    display:none;
}









/* Header properties */
.headerNavBar{
    background-color: var(--standardGreen);
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0.5rem;
    position: fixed;
    width: 100%;
}
.headerNavBar ul{
    display: flex;
    align-items: center;
    color: var(--whiteFont);
    font-size: 1.1rem;
    margin: 0;
    line-height: 25px;
    padding: 0;
}
.headerNavBar li{
    margin: 0 1.5rem;
    font-weight: 700;
    display: flex;
}
.headerNavBar a{
    color: var(--whiteFont);
    text-decoration: none;
    
}
.headerNavBar a:hover{
    color: var(--lightGreenFont);
}









/* Sections styles */
.firstSection{
    background-image: url(../assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.secondSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.thirdSection {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.fourthSection {
    background: var(--standardGreen);
    padding: 2rem 5rem;
    color: var(--whiteFont);
    scroll-margin-top: 6rem
}


/* Content Styles */











/* First Section */
#bannerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bannerContent h1{
    margin-bottom: 1rem;
    color: var(--whiteFont);
    font-size: 2.5rem;
}
#bannerContent h1 strong{
    color: var(--lightGreenFont);
}
#bannerContent span{
    font-size: 1.8125rem;
    color: var(--whiteFont);
}















/* A ASTRAL */

.sectionLeft {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}


.sectionRight {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.secondSectionTitle {
    display: flex;
    padding-top: 4rem;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--standardGreen);
    font-size: 1.2rem;

}

.thirdSectionTitle{
    display: flex;
    padding-top: 4rem;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--greyFont);
    font-size: 1.2rem;  
}

.sectionContent {
    color: var(--greyFont);
    padding: 1rem; 
    width: 95%;
}

.sectionContent p {
    margin: 0.5rem 1rem;
}

.sectionContent p b {
    color: var(--standardGreen);
}

.sectionContent p mark {
    background-color: var(--greenOpacityLight);
    color: var(--whiteFont);
}

#noPadding {
    padding: 0;
}

#imgLeft {
    width: 100%;
    height: 100%; 
}

#secondSectionImage{
    width: 100%;
    height: 100%;
}















/* NOSSOS SERVIÇOS */

.fourthSectionTitle {
    display: flex;
    text-transform: uppercase;
    gap: 0.5rem;
    font-size: 1.2rem
}

.collaspse {
    display: flex;
    justify-content: center;
    align-items: center;
}

#collapseUL {
    padding-top: 2rem;
}

.collaspeTittle {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    line-height: 3rem;
    padding: 0 3rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.collaspeTittle h3 {
    font-weight: 600;
    font-size: 1.4rem;
}

.collaspeTittle span
{
    font-weight: 200;
    font-size: 3rem;  
}

.collaspeContent{
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
    padding: 0 1rem;
}

.collaspeContent p {
    margin: 0.5rem 3rem;
    font-weight: 300;
    
}

.stilyzedUL{
    list-style-type: disc;
    margin: 0 5rem;
    padding-top: 0.5rem;
    font-weight: 300;
}













/* Segmentos de atuação*/

.fifthSection{
   margin-bottom:2rem;
   scroll-margin-top:6rem
}
.segmentosAtuacaoTitle{
    padding-left: 5rem;
    display: flex;
    padding-top: 3rem;
    gap: 0.5rem;
    text-transform: uppercase;
    color: var(--standardGreen);
    font-size: 1.2rem;
}
.fifthSectionContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.leftBox{
    font-size: 1.5rem;
    color: var(--greyFont);
    display: flex;
    justify-content:right;
    align-items:center;
    padding-top: 2rem;
    text-transform: uppercase;
    grid-column: 1
}
.rightBox{
    font-size: 1.5rem;
    color: var(--greyFont);
    display: flex;
    justify-content:left;
    align-items:center;
    padding-top: 2rem;
    text-transform: uppercase;
    grid-column: 2
}
.leftBoxContent{
    display: flex;
    align-items:center;
    justify-content: left;
    gap: 2rem;
    width: 60%;
}
.rightBoxContent{
    display: flex;
    align-items:center;
    justify-content: left;
    gap: 2rem;
    width: 60%;
}









/*seção Orçamento*/
.sixthSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../assets/images/orcamento-bg.png);
    background-size: 100% 100%;
    color:white;
    padding: 2rem 5rem;
}

.orcamentoLeftSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
}
.orcamentoTitle {
    display: flex;
    flex-direction:row;
    text-transform: uppercase;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-top:1rem
}

.orcamentoText{
    margin:2rem 0
}
.orcamentoText h2{
    text-transform: uppercase
}
.orcamentoTelefone{
    margin: 1rem 0
}
.orcamentoTelefone img{
    margin-right: 0.5rem
}
.orcamentoEmail img{
    margin-right: 0.5rem
}
.orcamentoEmail a{
    color: white;
    text-decoration: underline
}

#endereco{
    margin-top:1rem
}

.rounded-edges {
    border-radius:0.5rem
}










/* Button styles */
#btnOrcamento{
    margin-top: 2rem;
}
#btnOrcamento a{
    display: inline-block;
    gap: 0.5rem;
    color: var(--whiteFont);
    font-weight: 700;
    background-color: var(--standardGreen) ;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    border: 2px solid #038145;
    -webkit-box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    -moz-box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    transition: background-color 0.5s linear;
}
#btnOrcamento a:hover{
    background-color: white;
    transition: background-color 0.5s linear;
  
}

#btnOrcamento span{
    font-size: 1.5rem;
    transition: color 0.5s
}

#btnOrcamento a:hover span{
    color: var(--standardGreen);
    transition: background-color 0.5s linear;
}

@keyframes changeBtnOrcamentoImgGreen {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
      content: url("../assets/images/wpp-icon-green.png")
    }
  }

#btnOrcamento a:hover img{
    animation: changeBtnOrcamentoImgGreen 0s linear forwards;
}

/* BTN Orçamento Branco */

#btnOrcamentoWhite{
    margin-top: 2rem;
}
#btnOrcamentoWhite a{
    display: inline-block;
    gap: 0.5rem;
    color: var(--standardGreen);
    font-weight: 700;
    background-color: white ;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    border: 2px solid #038145;
    transition: background-color 0.5s linear, border 05.2 linear ;
}
#btnOrcamentoWhite a:hover{
    background-color: var(--standardGreen);
    transition: background-color 0.5s linear;
    border: 2px solid white;
  
}

#btnOrcamentoWhite span{
    font-size: 1.5rem;
    transition: color 0.5s
}

#btnOrcamentoWhite a:hover span{
    color: white;
    transition: background-color 0.5s linear;
}

@keyframes changeBtnOrcamentoImgWhite {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
      content: url("../assets/images/wpp-icon.png")
    }
  }

#btnOrcamentoWhite a:hover img{
    animation: changeBtnOrcamentoImgWhite 0s linear forwards;
}

.btnFranchise a{
    color: var(--whiteFont);
    display: inline-block;
    margin: 1rem 2rem;
    font-weight: 700;
    background-color: #059152;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    border: 2px solid #059152;
    -webkit-box-shadow: 8px -8px 2px 0px  rgba(141, 197, 62, 0.6);
    -moz-box-shadow: 8px -8px 2px 0px  rgba(141, 197, 62, 0.6);
    box-shadow: 8px -8px 2px 1px  rgba(141, 197, 62, 0.6);
    transition: background-color 0.5s linear;

    
}


.btnFranchise a:hover {
    background: var(--whiteFont);
    color: #059152;
    transition: background-color 0.5s linear;

}

.accordion-button{
    width: 2rem;
    border: none;
    outline: none;
    background: var(--standardGreen);
    color: white;
    font-weight: 400;
    font-size: 3rem;
    cursor: pointer;
    transition: content 1s linear
}
.accordion-button::after{
    content:'\002B';
  
}


.accordion-button-active::after{
    content:'\2212';
  
}







/* footer */
.footerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.footerContainer a{
    color: var(--greyFont);
    text-decoration: none;
}
.leftFooterSection{
    display: flex;
    color: var(--greyFont);
    justify-content: right;
    align-items: center;
    padding-top: 2rem;
}
.leftFooterContent{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}
.leftFooterSection p{
    margin-top:1rem;
 
}
.rightFooterSection{
    display: flex;
    color: var(--greyFont);
    justify-content: right;
    align-items: center;
    padding-top: 2rem;
}

.rightFooterContent{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 0;
    margin-right: 50%;
}
#footerUL{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.footerIcons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    margin-top: 1rem;
}
footer li{
    margin-bottom: 1rem;
}
#footerInfosMobile{
    display: none;
}


/* Burger Menu */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}





/* Responsive Media Queries */

@media (max-width: 767px){
section,footer{
        overflow: hidden;
        white-space: wrap;
        word-break: break-word;
}
.mobileOnly{
    display:block;
}

hr{
    display: block;
    width: 90%;
    border: 1px solid rgba( 5,145,82, 0.3);
}
.displayNoneOnMobile{
    display: none;
}

.headerTelefone{
    background-color: var(--darkGreen);
    color: white;
    padding: 0.5rem 1.5rem;
    font-size:1rem;
    text-align:right;
}
/* Header properties */
.headerNavBar{
    background-color: var(--backgroundGreenMobile);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    position: initial;
}

#astralHeaderLogo{
display: none
}

.hamburger {
        display: block;
        cursor: pointer;
       
}
.hamburger span{
    background-color: white;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
  
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--standardGreen);
    color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
    top:6rem;
    display: flex;
    align-items: flex-start;
}


.headerNavBar li {
    margin: 1rem;
    font-weight: 700;
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px white solid;
    width: 90%;
}

.headerNavBar a {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
   
}
.headerNavBar a:hover{
    color: var(--lightGreenFont);
}



.firstSection{
    background-image: url(../assets/images/mobile-home-bg.png);
    background-position: center;
    display: flex;
    padding: 3rem;
    align-items: center;
    text-align: center;
}
#bannerContent h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

#btnOrcamento {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnOrcamento a{
    padding: 0.5rem;
    width: 100%;
    
}
#btnOrcamento span {
    font-size: 1rem;
}



.secondSection{
    display: flex;
    flex-direction: column;
}
.sectionContent{
    text-align: justify;
}
.sectionLeft{
    padding: initial
}
.secondSectionTitle img{
    display:none
}
.secondSectionTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    text-transform: uppercase;
    color: var(--standardGreen);
    font-size: 1.2rem;
}


.thirdSection{
    display: flex;
    flex-direction: column;
}
.sectionRight{
    padding: initial
}
.thirdSectionTitle img{
    display:none
}
.thirdSectionTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    text-transform: uppercase;
    color: var(--standardGreen);
    font-size: 1.2rem;
}
.btnFranchise{
    margin: 1rem;
}
.btnFranchise a{
    padding: 0.5rem 2rem
}

.fourthSection {
    padding: 2rem 1rem;
}
.fourthSectionTitle img{
    display: none
}
.fourthSectionTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.collaspeTittle {
    padding: initial;
    display: flex;
    gap: 3rem;
}
.collaspeTittle h3{
    text-align: justify;
    font-size: 1rem;
}
.segmentosAtuacaoTitle {
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;

}
.segmentosAtuacaoTitle img{
    display: none;
}

.fifthSectionContent{
    display: flex ;
    flex-direction: column;
}
.leftBox{
    justify-content: initial;
    font-size: 1rem;
}
.leftBoxContent{
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.leftBoxtext img{
    display: none;
}
.rightBox{
    justify-content: initial;
    font-size: 1rem;
}
.rightBoxContent{
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sixthSection{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundGreenMobile);
    background-image: initial;
    padding: 2rem;
}
.orcamentoLeftSection{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.orcamentoTitle{
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.orcamentoTitle img{
    display: none;
}
.orcamentoTitle hr{
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.orcamentoText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.orcamentoRightSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botaoOrcamentoWhite{
    margin-left:-20px
}

#btnOrcamentoWhite a {
    gap: 1rem;
    display: flex;
    padding: 1rem;
    border-radius: 2rem;
}

#btnOrcamentoWhite span {
    font-size: 1rem;
    margin-right: 1rem;
}

iframe{
    width: 350px;
    height: 250px;
}
#endereco{
    text-align: center;
}
#endereco img{
    display: none;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.leftFooterContent p{
    display: none;
}
.leftFooterSection {
    justify-content: left;
    align-items: center;
    padding-top: 2rem;
    padding-left: 1rem;
}
.rightFooterContent {

    align-items: flex-start;
    margin-bottom: 1rem;
    
}
#footerUL {
    justify-content: left;
    align-items: flex-start;
}
.footerIcons {
    align-items: flex-start;

}
#footerInfosMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundGreenMobile);
    color: var(--whiteFont);
    padding: 1rem;
    font-weight: 400;
    font-size: 10px;
}
}

@media (min-width:768px) and (max-width:1365px){

    section,footer{
        overflow: hidden;
        white-space: wrap;
        word-break: break-word;
}
.mobileOnly{
    display:block;
}

hr{
    display: block;
    width: 90%;
    border: 1px solid rgba( 5,145,82, 0.3);
}
.displayNoneOnMobile{
    display: none;
}



.headerTelefone{
    background-color: var(--darkGreen);
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    text-align:right;
}
/* Header properties */
.headerNavBar{
    background-color: var(--backgroundGreenMobile);
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    position: initial;
}
#astralHeaderLogo{
display: block;
margin-left: 2rem;
}
#astralHeaderLogoMobile{
    display: none
}
.hamburger {
        display: block;
        cursor: pointer;
       margin-right: 2rem
}
.hamburger span{
    background-color: white;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
  
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--standardGreen);
    color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
    top:10rem;
    display: flex;
    align-items: flex-start;
}


.headerNavBar li {
    margin: 1rem;
    font-weight: 700;
    display: flex;
    text-transform: uppercase;
    border-bottom: 1px white solid;
    width: 90%;
}

.headerNavBar a {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
  
}
.headerNavBar a:hover{
    color: var(--lightGreenFont);
}


/* Astral Barueri */
.firstSection{
    background-image: url(../assets/images/mobile-home-bg.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bannerContent{
    margin-top: -16rem;
    text-align: center;
}
#bannerContent span {
    font-size: 2.5rem
}
#bannerContent h1 {
    font-size: 5rem;
}

#btnOrcamento img{
    
        height: 3rem;
        margin-top: 0.5rem;
}
#btnOrcamento span{
    margin-left: 1rem
}



/* Grupo Astral */
.secondSection{
    display: flex;
}
.secondSectionTitle h2{
    font-size: 3rem;
}
.secondSectionTitle hr{
    display: none
}
.sectionLeft{
    padding-left: 3rem
}

.btnFranchise a{
    padding: 1rem 6rem;
    font-size: 2rem;
}
/* Unidade Barueri */
.thirdSection{
    display: flex;
}
.thirdSectionTitle{
    font-size: 3rem;
}
.thirdSectionTitle hr{
    display: none;
}
.sectionContent{
    font-size: 2rem
}

/* Nossos Serviços */
.fourthSection{
    padding: 2rem 2rem;
}
.fourthSectionTitle {
    font-size: 3rem;
}
.collaspeTittle{
    padding: 0px 1rem;
}
.collaspeTittle h3{
    font-size: 2rem
}
.collaspeContent p{
    font-size: 1.5rem;
}
.collaspeContent li{
    font-size: 1.5rem;
}
.collaspeContent:last-child{
    margin-bottom:1rem
}


/* Segmentos de atuação */
.segmentosAtuacaoTitle{
    font-size: 2rem
}
.segmentosAtuacaoTitle hr{
    display: none
}
.leftBox{
    justify-content: center;
}
.leftBoxContent{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

}
.rightBox{
    justify-content: center
}
.rightBoxContent{
    display:flex;
    flex-direction: column;
    font-size: 1.6rem;
}

/* ORÇAMENTO */
.sixthSection{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundGreenMobile);
    background-image: initial;
    padding: 2rem;
    margin-top: 1rem
}
.orcamentoLeftSection{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.orcamentoTitle{
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.orcamentoTitle img{
    display: none;
}
.orcamentoTitle hr{
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 700px;
}
.orcamentoText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.orcamentoText h2{
    font-size: 3rem
}
.orcamentoTelefone{
    font-size: 2rem;
}
.orcamentoEmail{
    font-size: 2rem;
}
.orcamentoRightSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btnOrcamentoWhite a {
    gap: 1rem;
    display: flex;
    padding: 1rem;
    border-radius: 2rem;
    padding: 1rem 4rem;
}
#btnOrcamentoWhite img{
    width: 44px;
}

#btnOrcamentoWhite span {
    font-size: 2rem;
    margin-right: 1rem;
}

iframe{
    width: 700px;
    height: 450px;
}
#endereco{
    text-align: center;
    font-size: 1.5rem;
}
#endereco img{
    display: none;
}


/*Footer*/

.footerContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.leftFooterContent p{
    display: none;
}

.leftFooterSection {
    justify-content: left;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
}
.rightFooterSection {
    justify-content: left;
    padding-left: 2rem;
}
.rightFooterContent {

    align-items: flex-start;
    margin-bottom: 1rem;
    
}
#footerUL {
    justify-content: left;
    align-items: flex-start;
}
#footerUL a{
    font-size: 2rem;
    font-weight: 600;
}
.footerIcons {
    align-items: flex-start;

}
#footerInfosMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundGreenMobile);
    color: var(--whiteFont);
    padding: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
}




}

@media (min-width: 1366px ){

    .leftBox{
        justify-content: center;
    }
    .rightBox{
        justify-content: center;
    }
    .orcamentoLeftSection{
        margin-left: 10%;
    }
    #btnOrcamentoWhite{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
    }
    #btnOrcamentoWhite a{
        padding: 0.5rem 2rem;
    }
    #btnOrcamentoWhite span{
        font-size: 1.2rem;
    }
}
