/* Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
/* Layout Colors */
    --standardGreen: #038145;
    

/* Font Colors */
    --whiteFont: #FFFFFF;
    --lightGreenFont: #8DC53E;

  }


/* Global parameters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
a{
    text-decoration: none;
}
 
  
/* Header properties */
.headerNavBar{
    background-color: var(--standardGreen);
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0.5rem;
}
.headerNavBar ul{
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--whiteFont);
    font-size: 1.1rem;
    margin: 0;
    line-height: 25px;
    padding: 0;
}
.headerNavBar li{
    margin: 0 1.5rem;
    font-weight: 700;
    display: flex;
}
.headerNavBar a{
    color: var(--whiteFont);
    text-decoration: none;
}
.headerNavBar a:hover{
    color: var(--lightGreenFont);
}

.headerNavBar li:first-child {
    margin-left: 0;
}

/* Main div style */

/* Sections styles */
#firstSection{
    background-image: url(../assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Content Styles */
#bannerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bannerContent h1{
    margin-bottom: 1rem;
    color: var(--whiteFont);
    font-size: 2.5rem;
}
#bannerContent h1 strong{
    color: var(--lightGreenFont);
}
#bannerContent span{
    font-size: 1.8125rem;
    color: var(--whiteFont);
}

/* Button styles */
#btnOrcamento{
    margin-top: 2rem;
}
#btnOrcamento a{
    display: inline-block;
    gap: 0.5rem;
    color: var(--whiteFont);
    font-weight: 700;
    background-color: var(--standardGreen) ;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    border: 2px solid #038145;
    -webkit-box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    -moz-box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);
    box-shadow: 8px -8px 0px 1px rgba(141,197,62,1);

}
#btnOrcamento a:hover{
    background-color: white;
}

#btnOrcamento span{
    font-size: 1.5rem;
}


